@use 'reset';

/*
  My CSS
*/

body {
  // Layout
  display: flex;
  justify-content: center;
  align-items: center;

  // Box Model
  min-height: 100vh;

  // Visual
  background-color: hsl(47, 88%, 63%); 
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
  width: clamp(327px, 90vw, 384px);
  height: auto;
  border: 1px solid #111111;
  padding: 24px;
  font-family: Figtree, sans-serif;
  box-shadow: 8px 8px 0px 0px #111111;
  background-color: hsl(0, 0%, 100%);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 16px 16px 0px 0px #111111;
}

.card__image {
  border-radius: 10px;
  width: auto;
  height: 200px;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 100%;
  height: auto;
  // border: 1px solid #111111;
}

.card__category {
  width: fit-content;
  height: fit-content;
  // border: 1px solid #111111; 
  border-radius: 4px;
  padding: 4px 12px 4px 12px;
  background-color: hsl(47, 88%, 63%);
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 800;
}

.card__date {
  width: fit-content;
  height: fit-content;
  // border: 1px solid #111111; 
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 500;
}

.card__article-headline {
  width: auto;
  height: fit-content;
  // border: 1px solid #111111; 
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 800;
}

.card__article-headline:hover, .card__article-headline:focus {
  color:hsl(47, 88%, 63%);
  cursor: pointer;
}

.card__description {
  width: auto;
  height: fit-content;
  // border: 1px solid #111111; 
  // font-size: 16px;
  //font-size: 14px;
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 500;
  color: hsl(0, 0%, 50%);
}

.card__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: fit-content;
  height: fit-content;
  // border: 1px solid #111111;
}

.card__headshot {
  width: 32px;
  height: 32px;
}

.card_author-name {
  width: fit-content;
  height: fit-content;
  font-weight: 800;
  font-size: 14px;
  //font-size: 12px;
  // border: 1px solid #111111;
}